<% include ./partials/header %>
<div class = "container">
     <header class = "jumbotron">
        <div class = "container">     
            <h1>Welcome to Questionbook</h1>
            <p>Here You can ask people about anything</p>
        </div>
    </header>
</div>

<div class = "container" style = "margin-top: 35px;">
    <div class ="row text-center" style= "display: flex; flex-wrap: wrap">
            <% questions.forEach(function(question){ %>
                <div class = "container">
                     <div class = "jumbotron">
                        <div class = "text-left">
                            <h4><%= question.author.username %></h4>
                            <p style = "font-size: 15px"><%= question.question%></p>
                            <span class = "text-right"><a href = "/addkeyto/<%= question._id %>" class = "btn btn-primary">Add Your key</a></span>
                            <% question.key.forEach(function(keys){ %>

                                <p><%= keys %></p>

                            <% }) %>
                            <p></p>
                        </div>
                    </div>
                </div>

            <% })%>
    </div>    
</div>        

<% include ./partials/footer %>